.flat-banner {
  height: 250px;
  background-size: cover;
  background-position: center center;
}

.flat-present {
  background-color: white;
  padding: 30px;
}

.flat-desc {
  background-color: green;
}
